
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

/* global css */

.media-img {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 5px 30px;
}
.media-img .primary-img {
  position: relative;
  border-radius: 20px;
  width: 90px;
  height: 90px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.media-img .primary-img img {
  width: 100%;
  height: 100%;
}
.media-img button {
  position: absolute;
  top: 5px;
  right: 5px;
  border:1px solid #febb12;
  color:gray;
  padding: 0px 4px;
  cursor: pointer;
  border-radius: 50px;
}
/* common css */
.headings h4{
  position: relative;
}
.headings button{
  position: absolute;
  left:0;
  border-radius: 4px;
  padding: 4px 14px;
  background: #febb12;
  color: #000;
  box-shadow: 0px 2px 4px 1px #c9c9c9a6;
  outline: none;
  text-transform: capitalize;
  border: none;
  font-size: 10px;
  cursor: pointer;
}
.container {
  width: 90%;
  max-width: 1266px;
  margin: 0 auto;
}

.btn {
  letter-spacing: 0.63px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}
.arabic{
  direction: rtl;
}
.activeErr {
  border: 1px solid #ff7a7a!important;
}
header.active .container .nav ul li a {
  color: #707070;
}

.header.active .register a {
  color: #707070;
}

/* hero slider  */
.hero-slider .carousel__pagination {
  margin: 0;
  top: -110px;
  position: relative;
}

.hero-slider .carousel__pagination-button {
  background-color: #febb12;
  opacity: 0.4;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.hero-slider .carousel__pagination-button--active {
  background-color: #febb12;
  opacity: unset;
}

.hero-slider .carousel__prev,
.hero-slider .carousel__next {
  background-color: #fff;
  width: 50px;
  height: 40px;
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 6px;
  opacity: 1;
}

.hero-slider .carousel__prev img,
.hero-slider .carousel__next img {
  width: 25px;
  height: 35px;
}

.hero-slider .carousel__prev,
.hero-slider .carousel__next {
  top: 40%;
}

.smart-title {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.smart-title h1 {
  font-size: 24px;
  color: #231f20;
  opacity: 0.8;
  letter-spacing: 0.7px;
}

.pagination {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.page-item .page-link {
  padding: 10px 15px;
  border: none;
  margin: 6px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

.service-pagination .page-item:last-child {
  display: none;
}

.service-pagination .page-item .page-link {
  border-radius: 11px !important;
  color: #5372e7;
}

.disabled .page-link {
  color: #eee !important;
}

.service-pagination .active .page-link {
  color: #fff !important;
}

.active .page-link {
  background-color: #febb12;
  color: #000;
}

/* Hotel slider  */
.hotel-slider .carousel__prev,
.hotel-slider .carousel__next {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
}

.hotel-slider .carousel__prev {
  left: 25px;
  display: none;
}

.hotel-slider .carousel__next {
  right: 20px;
}

.hotel-slider .carousel__prev--in-active,
.hotel-slider .carousel__next--in-active {
  display: none;
}

.hotel-slider .carousel__slide {
  padding: 0 8px;
}

.carousel__icon {
  fill: #000;
}

.date-container .dp__calendar_header_item div {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
}

.date-container .dp__calendar_header_item {
  background: #eee;
}

.date-container .dp__calendar_row {
  font-weight: 600;
}

.date-container .dp__today {
  border: 1px solid #febb12;
}

.date-container .dp__active_date {
  background-color: #febb12;
}

.date-container .dp__relative {
  border: unset;
}

.date-container .dp__cell_inner {
  margin: 0 8px;
  height: 20px;
  font-size: 12px;
  width: 20px;
}

.date-container .dp__month_year_select {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}

.date-container .dp__month_year_select:nth-child(3) {
  display: none;
}

.date-container .dp__calendar_header_separator {
  display: none;
}

.date-container .dp__calendar_row>div:last-child {
  color: #ef4056;
}

.head h1 {
  font-size: 14px;
}

/* otp input setting */
.form-container .otp-input {
  width: 40px;
  margin-right: 20px;
  box-shadow: 0px 0px 8px 2px #e9e8e8;
  outline: none;
  border: none;
  height: 40px;
  text-align: center;
}
.swal2-popup {
  border: 1px solid #febb12 !important;
}

@media (max-width: 479px) and (min-width: 320px) {
  .smart-title{
    padding: 15px 0;
  }
  .content{
    margin: 0 10px;
  }
  .hero-slider .carousel__prev,
  .hero-slider .carousel__next {
    display: none;
  }
  .hotel-slider .carousel__next{
    display: none;
  }
  .hero-slider .carousel__slide {
    height: unset !important;
    border-radius: unset;
  }
  .layout{
    border-radius: unset!important;
    bottom: 4px!important;
  }

  .hero-slider .carousel__pagination {
    top: 0;
    position: unset;
    padding-left: 0;
  }

  .smart-title h1 {
    font-size: 14px;
  }
  .hero-slider{
    margin: 0!important;
    padding-top: 0!important;
  }
  .search-wrapper{
    margin: 0!important;
  }
  .apartment-main{
    padding: 0!important;
  }
}

/* reponsive start */
@media only screen and (max-width: 1199px) {
  .container {
    width: 100%;
  }

  header.header .container .nav ul li a {
    color: #707070;
  }

  .header.header .register a {
    color: #707070;
  }
}

/* reponsive end */
/* check box and input  */
.price-inputs {
  display: flex;
  justify-content: space-between;
}

.price-inputs .price-checkbox .container-input p {
  font-size: 12px;
  display: inline-block;
}

.price-inputs .price-checkbox .container-input {
  margin: 16px 0;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

/* Hide the browser's default checkbox */
.price-inputs .price-checkbox .container-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.price-inputs .price-checkbox .checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  box-shadow: 0px 1px 12px -2px #00000040;
}

/* Create the checkmark/indicator (hidden when not checked) */
.price-inputs .price-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.price-inputs .price-checkbox .container-input input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.price-inputs .price-checkbox .container-input .checkmark:after {
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: #febb12;
  border-radius: 35px;
}

.input-price input {
  outline: none;
  border-radius: 20px;
  border: unset;
  box-shadow: 0px 1px 12px -2px #00000040;
  padding: 8px;
  width: 82px;
}
.booking .security input{
  outline: none;
  padding: 15px;
  width: 40%;
  justify-content: flex-start;
  display: flex;
  margin-left: 25px;
  text-transform: capitalize;
  box-shadow: 0px 1px 12px -2px #00000040;
  border: 1px solid transparent;
  border-radius: 5px;
}
.inputLastMinute input{
  outline: none;
  padding: 10px 15px;
  display: block;
  margin: 8px 0;
  text-transform: capitalize;
  box-shadow: 0px 1px 12px -2px #00000040;
  border: 1px solid transparent;
  border-radius: 5px;
}
/* .price-container {
  width: 85%;
} */
/* responsive */
@media (max-width: 479px) and (min-width: 320px) {
  .inputs-container {
    overflow: scroll;
    height: 314px;
    padding: 0px 20px !important;
  }
  .primary-login {
    width: 83% !important;
  }
  .container-amenities .cards > div {
    height: 80px !important;
    width: 86px !important;
    margin: 10px 14px 14px 0px !important;
  }
  .container-amenities .cards {
    width: 100% !important;
    justify-content: center !important;
  }
  .container-amenities .cards > div:nth-child(4n + 0) {
    margin-right: 14px !important;
  }
  .rules {
    width: 100% !important;
  }
  .rules .container-input {
    font-size: 12px !important;
  }
  .price-container {
    width: 100% !important;
  }
  .container-price {
    width: 95% !important;
    padding: 0 6px !important;
  }
  .booking-date {
    padding: 0 !important;
  }
  .booking-date .date-input {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .card-other .cards {
    flex-direction: column !important;
  }
  .card-other .cards > div {
    width: 82% !important;
    margin: 10px 4px !important;
  }
  .container-service .cards {
    padding: 0 !important;
  }
  .booking-type .cards {
    flex-direction: column !important;
  }
  .book-instant .primary-cards {
    width: 96% !important;
  }
  .booking-type .primary-cards {
    width: 98% !important;
  }
  .map-container .inputs-container {
    overflow: unset !important;
    height: unset !important;
  }
  .deposite-section {
    padding: 0px 8px 0 8px;
  }
}
